{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <script async="async" data-cfasync="false" src="//pl25699908.profitablecpmrate.com/50fa463e1b3bccaed9a81c2231c91765/invoke.js"></script>
    <div id="container-50fa463e1b3bccaed9a81c2231c91765"></div>    
    <section id="blog-posts" class="py-5">
        <h2>Recent Blog Posts</h2>
        <div class="row">
            {# Blog posts will be inserted here #}
            {% for post in posts %}
            <div class="col-md-6 mb-4">
                <div class="card h-100">
					<img src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'blog/images/photo.jpg' %} {% endif %}" alt="{{ post.title }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {% if post.tags.exists %}
                        <p class="card-text">
                            Tags: {% for tag in post.tags.all %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </p>
                        {% endif %}
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
